.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar li {
  color: white;
  cursor: pointer;
}

.welcome {
  background-color: #ff69b4;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 0;
  font-size: 24px;
}

h2 {
  background-color: #5f9ea0;
  color: black;
  text-align: center;
  padding: 10px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vite-logo {
  display: block;
  margin: 20px auto;
  height: 200px;
}