nav {
  display: flex;
  list-style-type: none;
  background-color: chocolate;
  color: aliceblue;
  justify-content: space-around;
  padding: 10px;
}
.link {
  text-decoration: none;
  color: aliceblue;
  padding: 3px;
}
.link:hover {
  background-color: aliceblue;
  color: chocolate;
  border-radius: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-trigger {
  cursor: pointer;
}
.dropdown-list {
  display: block;
  position: absolute;
  background-color: rgb(190, 157, 133);
  padding: 5px;
  list-style-type: none;
  border-radius: 3px;
  top: 100%;
  left: 0;
  min-width: 180px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-list::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  height: 5px;
  background: transparent;
}
.dropdown-link {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  display: block;
  border-radius: 3px;
}

.dropdown-link:hover {
  background-color: #f0f0f0;
}